In [ ]:
'''Q1. Explain with an example each when to use a for loop and a while loop.'''

In [3]:
'''Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.'''
sum,a=0,1
while a<=10:
    
    sum=sum+a
    a=a+1
sum

55

In [2]:


product=1
a=2
while a<=10:
    product=a*product
    a=a+1
product

3628800

In [6]:
sum,a=0,1
for a in range(1,11):
    
    sum=sum+a
    a=a+1
sum

55

In [8]:
product=1
a=2
for a in range(1,11):
    product=a*product
    a=a+1
product

3628800

In [6]:
'''. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.'''

units=int(input('enter units consumed this month'))
if units<=100:
    bill=units*4.5
elif units<=200:
    bill=(100*4.5)+(units-100)*6
elif units<=300:
    bill=(100*4.5)+(100*6)+(units-200)*10
else:
    bill=(100*4.5)+(100*6)+(100*10)+(units-300)*20
bill

enter units consumed this month 310

2250.0

In [9]:
'''Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.'''

l1=[]
for i in range(1,101):
    a=i**3
    if a % 4 ==0 or a % 5 == 0:
        l1.append(i)
    
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [15]:
l1=[]
i=1
while i<=100:
    a=i**3
    if a % 4 ==0 or a % 5 == 0:
        l1.append(i)
    i=i+1    
    
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [28]:
'''Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"'''

'Q5. Write a program to filter count vowels in the below-given string.\nstring = "I want to become a data scientist"'

In [1]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
filtered_string = ''.join([char for char in string if char not in vowels])
print("String after removing vowels:", filtered_string)

String after removing vowels:  wnt t bcm  dt scntst